<div class="footer">
	<div class="footer__wrapper">
		<div class="footer__navigation">
			<div>
				<span class="footer-head">INFORMATION</span>
				<a href="thebrand.html">The brand</a>
				<a href="localstories.html">Local stores</a>
				<a href="#">Customer service</a>
				<a href="#">Privacy & cookies</a>
				<a href="#">Site map</a>
			</div>
			<div>
				<span class="footer-head">WHY BUY FROM US</span>
				<a href="#">Shipping & returns</a>
				<a href="#">Secure shopping</a>
				<a href="#">Testimonials</a>
				<a href="thebrand.html">Award winning</a>
				<a href="thebrand.html">Ethical trading</a>
			</div>
			<div>
				<span class="footer-head">YOUR ACCOUNT</span>
				<a href="signup.html">Sign in</a>
				<a href="#">Register</a>
				<a href="#">View cart</a>
				<a href="#">View your lookbook</a>
				<a href="#">Track an order</a>
				<a href="#">Update information</a>
			</div>
			<div>
				<span class="footer-head">LOOKBOOK</span>
				<a href="#">Latest posts</a>
				<a href="#">Men's lookbook</a>
				<a href="#">Women's lookbook</a>
				<a href="#">Lookbooks RSS feed</a>
				<a href="#">View your lookbook</a>
				<a href="#">Delete your lookbook</a>
			</div>
			<div class="foter__contactdet">
				<span class="footer-head">CONTACT DETAILS</span>
				<div><a href="#">Head Office: Avenue Fashion, 180-182 Regent Street, London.</a></div>
				<div><p>Telephone: </p><a href="#">0123-456-789</a></div>
				<div><p>Email: </p><a href="#"> support@yourwebsite.com</a></div>
			</div>
		</div>
		<div class="footer__info">
			<div>
				<div class="blockinfo">
					<span>AWARD WINNER</span>
					<p>FASHION AWARDS 2016</p>
				</div>
			</div>
			<div class="footer__links">
				<a href="http://fb.com"><i class="fab fa-facebook-f"></i></a>
				<a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
				<a href="http://instagram.com"><i class="fas fa-camera-retro"></i></a>
				<a href="https://pinterest.com/"><i class="fab fa-pinterest"></i></a>
			</div>
		</div>
	</div>
</div>