<div off-canvas="slidebar-2 right shift" class="slide_bar">
	<div class="slide_logo">
		<a href="index.html" class="slide__logo">
			<span>AVENUE</span> FASHION
		</a>
	</div>
	<div class="slide_search">
		<div class="search">
			<input type="text" placeholder="Search..">
			<div class="search__button"><i class="fas fa-search"></i></div>
		</div>
	</div>
	<div class="slide_elem">
		<div>MENS</div>
		<div class="slide__text">
			<div>
				<span>CASUALS</span>
				<a href="#">Jackets</a>
				<a href="productview.html">Hoodies & Sweatshirts</a>
				<a href="#">Polo Shirts</a>
				<a href="#">Sportswear</a>
				<a href="#">Trousers & Chinos</a>
				<a href="#">T-Shirts</a>
			</div>
			<div>
				<span>FORMAL</span>
				<a href="#">Jackets</a>
				<a href="#">Shirts</a>
				<a href="#">Suits</a>
				<a href="#">Trousers</a>
			</div>
		</div>
	</div>
	<div class="slide_elem">
		<div>WOMENS</div>
		<div class="slide__text">
			<div>
				<span>CASUALS</span>
				<a href="#">Jackets</a>
				<a href="#">Hoodies & Sweatshirts</a>
				<a href="#">Polo Shirts</a>
				<a href="#">Sportswear</a>
				<a href="#">Trousers & Chinos</a>
				<a href="#">T-Shirts</a>
			</div>
			<div>
				<span>FORMAL</span>
				<a href="#">Jackets</a>
				<a href="#">Shirts</a>
				<a href="#">Suits</a>
				<a href="#">Trousers</a>
			</div>
		</div>
	</div>
	<div class="slide_elem slide_none">
		<div>
			<a href="thebrand.html">THE BRAND</a>
		</div>
	</div>
	<div class="slide_elem">
		<div>LOCAL STORES</div>
		<div class="slide__text">
			<div>
				<span>CASUALS</span>
				<a href="#">Jackets</a>
				<a href="productview.html">Hoodies & Sweatshirts</a>
				<a href="#">Polo Shirts</a>
				<a href="#">Sportswear</a>
				<a href="#">Trousers & Chinos</a>
				<a href="#">T-Shirts</a>
			</div>
			<div>
				<span>FORMAL</span>
				<a href="#">Jackets</a>
				<a href="#">Shirts</a>
				<a href="#">Suits</a>
				<a href="#">Trousers</a>
			</div>
		</div>
	</div>
	<div class="slide_elem">
		<div>LOOK BOOK</div>
		<div class="slide__text">
			<div>
				<span>OUR LOOKBOOKS</span>
				<a href="lookbook.html">Latest Post (mixed)</a>
				<a href="#">Men's Lookbook</a>
				<a href="#">Women's Lookbook</a>
			</div>
			<div>
				<span>YOUR LOOKBOOK</span>
				<a href="#">View and Edit</a>
				<a href="#">Share</a>
				<a href="#">Delete</a>
			</div>
		</div>
	</div>
	<div class="close__slide">
		<i class="fas fa-chevron-left"></i>
	</div>
</div>