<div class="productviewtovar">
	<div class="productviewtovar__wrapper">
		<div class="sliderwrapper">
			<div class="productviewtovar__slider owl-carousel">
				<div>
					<div class="easyzoom easyzoom--overlay">
						<a href="static/img/assets/productviewtovar/1zoom.png">
							<img src="static/img/assets/productviewtovar/1.png" class="productviewtovar__item" alt="img">
						</a>	
					</div>
				</div>
				<div>
					<div class="easyzoom easyzoom--overlay">
						<a href="static/img/assets/productviewtovar/1zoom.png">
							<img src="static/img/assets/productviewtovar/1.png" class="productviewtovar__item" alt="img">
						</a>	
					</div>
				</div>
			</div>
				<div class="slider-next"><i class="fas fa-chevron-right"></i></div>
				<div class="slider-prev"><i class="fas fa-chevron-left"></i></div>	
		</div>
		<div class="productviewtovar__info">
			<h2>ave classic sweatshirt</h2>
			<div class="productviewtovar__review">
				<div id="reviewStars-input">
					<input id="star-4" type="radio" name="reviewStars"/>
					<label title="5" for="star-4"></label>

					<input id="star-3" type="radio" name="reviewStars"/>
					<label title="4" for="star-3"></label>

					<input id="star-2" type="radio" name="reviewStars"/>
					<label title="3" for="star-2"></label>

					<input id="star-1" type="radio" name="reviewStars"/>
					<label title="2" for="star-1"></label>

					<input id="star-0" type="radio" name="reviewStars"/>
					<label title="1" for="star-0"></label>
				</div>
			<div class="rewblock">
				<span>3</span>
				Review(s)
			</div>
			<div>
				<a href="#">Add a Review </a>
			</div>
			<div>
				Share: 
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-google-plus-g"></i></a>
				<a href="#"><i class="fab fa-pinterest-p"></i></a>
				<a href="#"><i class="fas fa-camera-retro"></i></a>
				<a href="#"><i class="far fa-envelope"></i></a>
			</div>

			</div>
			<div class="productviewtovar__price">
				<div class="productviewtovar__sale"><i class="fas fa-pound-sign"></i><p>107</p></div>
				<div><i class="fas fa-pound-sign"></i><p>89.99</p></div>
			</div>
			<div class="productviewtovar__option">
				<div>
					<p>AVAILABILITY: </p>
					<span>In Stock</span>
				</div>
				<div>
					<p>PRODUCT CODE:</p>
					<span>#499577</span>
				</div>
				<div>
					<p>TAGS: </p>
					<a href="#">Classic,</a>
					<a href="#">Casual,</a>
					<a href="#">V-neck,</a>
					<a href="#">Loose</a>
				</div>
			</div>
			<div class="productviewtovar__text">
				<p>Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse est congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar tempor lorem a pretium justo interdum.
				</p>
				<ul>
					<li>Elasticated cuffs</li>
					<li>Casual fit</li>
					<li>100% Cotton</li>
					<li>Free shipping with 4 days delivery</li>
				</ul>
			</div>
			<div class="productviewtovat__select">
				<div class="color_select">
					<span>color</span>
					<select name="ss" id="">
						<option value="">Select Color</option>
						<option value="">Select Color</option>
					</select>
				</div>
				<div class="size_select">
					<span>size</span>
					<select name="ss" id="">
						<option value="">Select Size</option>
						<option value="">Select Size</option>
					</select>
				</div>
				<div class="qty_select">
					<span>qty</span>
					<input type="number" class="input_qty" min="0" max="99" step="1" value="1">
					<div class="qty_plus"><i class="fas fa-chevron-up"></i></div>
					<div class="qty_minus"><i class="fas fa-chevron-down"></i></div>
				</div>
			</div>
			<div class="productviewtovar__btn">
				<a href="#" class="select_addcart"><i class="fas fa-shopping-cart"></i> add to cart</a>
				<a href="#" class="select_addlookbook"><i class="far fa-heart"></i> add to lookbook</a>
				<a href="#" class="select_addcomp"><i class="fas fa-compress-arrows-alt"></i> add to compare</a>
			</div>
		</div>
	</div>
</div>