<div class="maintovar">
	<div class="maintovar__wrapper">
		<div class="maintovar__menu">
			<a href="#">POPULAR</a>
			<a href="#">NEW ARRIVALS</a>
			<a href="#">BEST SELLER</a>
			<a href="#">SPECIAL OFFERS</a>
			<a href="#">COMING SOON</a>
		</div>
		<div class="maintovar__items">
			<div>
				<div class="small-item">
					<img src="static/img/assets/maintovar/1.png" alt="item">
					<div class="price">	
					<i class="fas fa-pound-sign saleprice"></i><span class="saleprice"></span><i class="fas fa-pound-sign"></i><span>89.99</span>
					</div>
					<i class="fas fa-info-circle iteminfo"></i>
					<img src="static/img/assets/maintovar/11.png" class="bodyhead" alt="img"><img src="static/img/assets/maintovar/22.png" class="bodyback" alt="img">
					<div class="item__discrip">
						<div class="price__item"><span>Womens burnt orange casual tee</span>  <span class="valute">£</span><span class="priseinitem">29.95</span></div>
						<p>Classic casual t-shirt for women on the move. 100% cotton.	</p>
						<div class="btn-items"><a href="#"><i class="fas fa-shopping-cart"></i></a><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-compress-arrows-alt"></i></a>	</div>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovar/2.png" alt="item">
					<div class="price">	
					<i class="fas fa-pound-sign saleprice"></i><span class="saleprice"></span><i class="fas fa-pound-sign"></i><span>47.50</span>
					</div>
					<i class="fas fa-info-circle iteminfo"></i>
					<img src="static/img/assets/maintovar/11.png" class="bodyhead" alt="img"><img src="static/img/assets/maintovar/22.png" class="bodyback" alt="img">
					<div class="item__discrip">
						<div class="price__item"><span>Womens burnt orange casual tee</span>  <span class="valute">£</span><span class="priseinitem">29.95</span></div>
						<p>Classic casual t-shirt for women on the move. 100% cotton.	</p>
						<div class="btn-items"><a href="#"><i class="fas fa-shopping-cart"></i></a><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-compress-arrows-alt"></i></a>	</div>
					</div>
				</div>
				<div class="big-item">
					<img src="static/img/assets/maintovar/3.png" alt="item">
					<div class="price">	
					<i class="fas fa-pound-sign saleprice"></i><span class="saleprice"></span><i class="fas fa-pound-sign"></i><span>69.95</span>
					</div>
					<i class="fas fa-info-circle iteminfo"></i>
					<img src="static/img/assets/maintovar/11.png" class="bodyhead" alt="img"><img src="static/img/assets/maintovar/22.png" class="bodyback" alt="img">
					<div class="item__discrip">
						<div class="price__item"><span>Womens burnt orange casual tee</span>  <span class="valute">£</span><span class="priseinitem">29.95</span></div>
						<p>Classic casual t-shirt for women on the move. 100% cotton.	</p>
						<div class="btn-items"><a href="#"><i class="fas fa-shopping-cart"></i></a><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-compress-arrows-alt"></i></a>	</div>
					</div>
				</div>
			</div>
			<div>
				<div class="big-item">
					<img src="static/img/assets/maintovar/4.png" alt="item">
					<div class="price sale__active">	
					<i class="fas fa-pound-sign saleprice"></i><span class="saleprice">107</span><i class="fas fa-pound-sign"></i><span>89.99</span>
					</div>
					<i class="fas fa-info-circle iteminfo"></i>
					<img src="static/img/assets/maintovar/11.png" class="bodyhead" alt="img"><img src="static/img/assets/maintovar/22.png" class="bodyback" alt="img">
					<div class="item__discrip">
						<div class="price__item"><span>Womens burnt orange casual tee</span>  <span class="valute">£</span><span class="priseinitem">29.95</span></div>
						<p>Classic casual t-shirt for women on the move. 100% cotton.	</p>
						<div class="btn-items"><a href="#"><i class="fas fa-shopping-cart"></i></a><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-compress-arrows-alt"></i></a>	</div>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovar/5.png" alt="item">
					<div class="price">	
					<i class="fas fa-pound-sign saleprice"></i><span class="saleprice"></span><i class="fas fa-pound-sign"></i><span>29.95</span>
					</div>
					<i class="fas fa-info-circle iteminfo"></i>
					<img src="static/img/assets/maintovar/11.png" class="bodyhead" alt="img"><img src="static/img/assets/maintovar/22.png" class="bodyback" alt="img">
					<div class="item__discrip">
						<div class="price__item"><span>Womens burnt orange casual tee</span>  <span class="valute">£</span><span class="priseinitem">29.95</span></div>
						<p>Classic casual t-shirt for women on the move. 100% cotton.	</p>
						<div class="btn-items"><a href="#"><i class="fas fa-shopping-cart"></i></a><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-compress-arrows-alt"></i></a>	</div>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovar/6.png" alt="item">
					<div class="price">	
					<i class="fas fa-pound-sign saleprice"></i><span class="saleprice"></span><i class="fas fa-pound-sign"></i><span>34.79</span>
					</div>
					<i class="fas fa-info-circle iteminfo"></i>
					<img src="static/img/assets/maintovar/11.png" class="bodyhead" alt="img"><img src="static/img/assets/maintovar/22.png" class="bodyback" alt="img">
					<div class="item__discrip">
						<div class="price__item"><span>Womens burnt orange casual tee</span>  <span class="valute">£</span><span class="priseinitem">29.95</span></div>
						<p>Classic casual t-shirt for women on the move. 100% cotton.</p>
						<div class="btn-items"><a href="#"><i class="fas fa-shopping-cart"></i></a><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-compress-arrows-alt"></i></a>	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>