<div class="header">
	<div class="header__wrapper">
		<div class="header__currency">
			<p>Currency :</p>
			<span>GBP</span>
			<i class="fas fa-angle-down"></i>
		</div>
		<div class="header__cabinet">
			<a href="#">Register</a>
			<a href="signup.html">Sign In</a>
			<a href="#" class="header__basket">
				<i class="fas fa-shopping-cart"></i>
				<span class="basket__count">
					<span>empty</span>
					<i class="fas fa-angle-down"></i>
				</span>
			</a>
		</div>
	</div>
</div>
<div class="menu">
	<div class="menu__wrapper">
		<a href="index.html" class="menu__logo">
			<span>AVENUE</span> FASHION
		</a>
		<div class="menu__navigation">
			<div class="menu">
				<div class="header__blocklink">
				<a class="header__dropdown" href="#">MENS
					<i class="fas fa-angle-down"></i></a>
					<div class="menu__container">
							<div class="menu__text">
								<div>
									<span>CASUALS</span>
									<a href="#">Jackets</a>
									<a href="productview.html">Hoodies & Sweatshirts</a>
									<a href="#">Polo Shirts</a>
									<a href="#">Sportswear</a>
									<a href="#">Trousers & Chinos</a>
									<a href="#">T-Shirts</a>
								</div>
								<div>
									<span>FORMAL</span>
									<a href="#">Jackets</a>
									<a href="#">Shirts</a>
									<a href="#">Suits</a>
									<a href="#">Trousers</a>
								</div>

							</div>
							<div class="menuinfo__sale">
								<div>
									<p>AUTUMN SALE!</p>
									<span>UP TO 50% OFF</span>
								</div>
							</div>	
					</div>
				</div>
				<div class="header__blocklink">
				<a class="header__dropdown" href="#">WOMENS
					<i class="fas fa-angle-down"></i></a>
					<div class="menu__container">
							<div class="menu__text">
								<div>
									<span>CASUALS</span>
									<a href="#">Jackets</a>
									<a href="#">Hoodies & Sweatshirts</a>
									<a href="#">Polo Shirts</a>
									<a href="#">Sportswear</a>
									<a href="#">Trousers & Chinos</a>
									<a href="#">T-Shirts</a>
								</div>
								<div>
									<span>FORMAL</span>
									<a href="#">Jackets</a>
									<a href="#">Shirts</a>
									<a href="#">Suits</a>
									<a href="#">Trousers</a>
								</div>

							</div>
							<div class="menuinfo__sale">
								<div>
									<p>AUTUMN SALE!</p>
									<span>UP TO 50% OFF</span>
								</div>
							</div>	
					</div>
				</div>
				
				<a class="header__dropdown" href="thebrand.html">THE BRAND</a>
				<div class="header__blocklink">
				<a class="header__dropdown" href="#">LOCAL STORES
					<i class="fas fa-angle-down"></i></a>
					<div class="menu__container">
							<div class="menu__text">
								<div>
									<span>CASUALS</span>
									<a href="#">Jackets</a>
									<a href="productview.html">Hoodies & Sweatshirts</a>
									<a href="#">Polo Shirts</a>
									<a href="#">Sportswear</a>
									<a href="#">Trousers & Chinos</a>
									<a href="#">T-Shirts</a>
								</div>
								<div>
									<span>FORMAL</span>
									<a href="#">Jackets</a>
									<a href="#">Shirts</a>
									<a href="#">Suits</a>
									<a href="#">Trousers</a>
								</div>
							</div>
							<div class="menuinfo__sale">
								<div>
									<p>AUTUMN SALE!</p>
									<span>UP TO 50% OFF</span>
								</div>
							</div>	
					</div>
				</div>
				<div class="header__blocklink">
				<a class="header__dropdown" href="#">LOOK BOOK
					<i class="fas fa-angle-down"></i></a>
					<div class="menu__container">
							<div class="menu__text menu__textsmal">
								<div>
									<span>OUR LOOKBOOKS</span>
									<a href="lookbook.html">Latest Post (mixed)</a>
									<a href="#">Men's Lookbook</a>
									<a href="#">Women's Lookbook</a>
								</div>
								<div>
									<span>YOUR LOOKBOOK</span>
									<a href="#">View and Edit</a>
									<a href="#">Share</a>
									<a href="#">Delete</a>
								</div>

							</div>
							<div class="menuinfo__sale">
								<div>
									<p>AUTUMN SALE!</p>
									<span>UP TO 50% OFF</span>
								</div>
							</div>	
					</div>
				</div>
				
			</div>
			<div class="search">
				<input type="text" placeholder="Search..">
				<div class="search__button"><i class="fas fa-search"></i></div>
			</div>
			<div class="js-toggle-right-slidebar slidebar__icon" style="display: none;">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</div>
</div>