<div class="mainlookbook">
	<div class="mainlookbook__wrapper">
	<div class="mainlookbook__item">
		<div class="mainlookbook__imgblock">
			<img src="static/img/assets/mainlookbook/1.png" alt="img">
		</div>
		<div class="mainlookbook__textblock">
			<div class="mainlookbook__headname">
				<span>MEN'S</span>
				<p>LOOKBOOK</p>
			</div>
			<p class="loreminlook">Lorem ipsum dolor sit amet eras facilisis
			consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
			Elementum metus facilisis ut phasellu.
			</p>
			<a href="#" class="mainlookbook__btn">
				VIEW NOW
			</a>
		</div>
	</div>
	<div class="mainlookbook__item">
		<div class="mainlookbook__imgblock">
			<img src="static/img/assets/mainlookbook/2.png" alt="img">
		</div>
		<div class="mainlookbook__textblock">
			<div class="mainlookbook__headname">
				<span>WOMEN'S</span>
				<p>LOOKBOOK</p>
			</div>
			<p class="loreminlook">Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Pellentesque laoreet quis enim et mattis. Quisque interdum felis tellus.</p>
			<a href="#" class="mainlookbook__btn">
				VIEW NOW
			</a>
		</div>
	</div>
	<div class="mainlookbook__item">
		<div class="mainlookbook__imgblock">
			<img src="static/img/assets/mainlookbook/3.png" alt="img">
		</div>
		<div class="mainlookbook__textblock">
			<div class="mainlookbook__headname">
				<span>YOUR</span>
				<p>LOOKBOOK</p>
			</div>
			<p class="loreminlook">See an item you like and click the <i class="far fa-heart"></i> button to add it to your lookbook where you can create your own perfect look. It’s like your own boutique!</p>
			<a href="#" class="mainlookbook__btn">
				VIEW NOW
			</a>
		</div>
	</div>
</div>
</div>