.localstoriesmap{
	width: 100%;
	background-color: #f8f8f8;
.localstoriesmap__wrapper{
	width: 2030px;
	margin: 0 auto;
	height: 530px;
	display: flex;
}
.localstoriesmap__info{
	width: 663px;
	background-color: #f8f8f8;
	h3,h2,a{
		margin:0;
		font-family: Montserrat Regular,Arial;
	}
	h3,h2,.localstoriesmap__lin{
		margin-left: 40px;
		display: block;
	}
	h2{
		color:#575153;
		margin-bottom: 30px;
		font-size: 18px;
		text-transform: uppercase;
		margin-top: 40px;
	}
	h3{
		color:#727272;
		margin-bottom: 18px;
		font-size: 13px;
		text-transform: uppercase;
	}
	p{
		font-family: Roboto Regular,Arial;
		margin:0;
		margin-left: 40px;
		color:#8e8c8c;
		margin-bottom: 30px;
		margin-right: 10px;
  		font-size: 15px;
  		letter-spacing: -0.4px;
	}
	a{
		margin-left: 40px;
		margin-bottom: 15px;
		border-radius: 3px;
		font-family: Montserrat Light, Arial;
		color:#8e8c8c;
		text-decoration: none;
		display: block;
		font-size: 14px;
		font-weight: bold;
		transition: color .4s;
		i{
			margin-right: 14px;
			width: 14px;
			height: 14px;
		}
	}
	a:hover{
		color:#333333;
	}
	.localstoriesmap__lin{
		display: flex;
		a{
			margin-top: 60px;
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #727272;
			color:#fff;
			line-height: 30px;
			text-align: center;
			margin-right: 14px;
			margin-left: 0px;
			padding: 0;
			transition: background-color .3s;
		}
		i{
			width: 30px;
		}
		a:hover{
			background-color: #00c8c8;
		}
	}
}
.mapgoogle{
	width:1367px;	
	height:530px;
}
}
@media only screen and (max-width: 2049px){
	.localstoriesmap{
		.localstoriesmap__wrapper{
			width: 1900px;
		}
		.mapgoogle{
			width: 1237px;
		}
		.localstoriesmap__map{
			width: 1237px;
		}
	}
}
@media only screen and (max-width: 1919px){
	.localstoriesmap{
		.localstoriesmap__wrapper{
			width: 99%;
		}
		.mapgoogle{
			width: 100%;
		}
		.localstoriesmap__map{
			width: 65%;
		}
	}
	.localstoriesmap__info{
		width: 35%;
	}
}
@media only screen and (max-width: 1023px){
	.localstoriesmap__wrapper{
		flex-wrap: wrap;
		min-height: 1050px;
	}
	.localstoriesmap{
		.localstoriesmap__map{
			width: 100%;
		}
	}
	.localstoriesmap__info{
		width: 100%;
	}
}
@media only screen and (max-width: 479px){
	.localstoriesmap{
.localstoriesmap__info{
	h3,h2,a,p{
		margin: 0 5px 10px 5px;

	}
	.localstoriesmap__lin{
		margin-left: 5px;
	}
}
}
}