<div class="maintovarlookbook">
	<div class="maintovarlookbook__wrapper">
		<div class="maintovarlookbook__menu">
			<a href="#">LATEST</a>
			<a href="#">MOST LIKED</a>
			<a href="#">BEST SELLERS</a>
			<a href="#">PRICE LOW TO HIGH</a>
			<a href="#">PRICE HIGH TO LOW</a>
		</div>
		<div class="maintovarlookbook__items">
			<div>
				<div class="small-item">
					<img src="static/img/assets/maintovarlookbook/1.png" alt="item">
					<div class="sizer">	
						<p>REF</p>
						<span>M1</span>
					</div>
					<div class="small__icons">
						<a href="#"><i class="fas fa-info"></i></a>
						<a href="#"><i class="fas fa-heart"></i></a>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovarlookbook/2.png" alt="item">
					<div class="sizer">	
						<p>REF</p>
						<span>W1</span>
					</div>
					<div class="small__icons">
						<a href="#"><i class="fas fa-info"></i></a>
						<a href="#"><i class="fas fa-heart"></i></a>
					</div>
				</div>
				<div class="normal-item">
					<img src="static/img/assets/maintovarlookbook/normal1.png" alt="img">
					<div class="textforitem">
						<h2><span>JANE'S</span>LOOKBOOK</h2>
						<h3>get the look for under £200!</h3>
						<p>We invited actress Jane Marshall to join us 
						for the day and choose her perfect outfit from 
						our vast range of womens fashion.</p>
						<p>This is of course not true as this is just a design 
						for a website and this is simply filler text.</p>
						<a href="#">VIEW NOW</a>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovarlookbook/3.png" alt="item">
					<div class="sizer">	
						<p>REF</p>
						<span>MJ1</span>
					</div>
					<div class="small__icons">
						<a href="#"><i class="fas fa-info"></i></a>
						<a href="#"><i class="fas fa-heart"></i></a>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovarlookbook/4.png" alt="item">
					<div class="sizer">	
						<p>REF</p>
						<span>M2</span>
					</div>
					<div class="small__icons">
						<a href="#"><i class="fas fa-info"></i></a>
						<a href="#"><i class="fas fa-heart"></i></a>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovarlookbook/5.png" alt="item">
					<div class="sizer">	
						<p>REF</p>
						<span>W2</span>
					</div>
					<div class="small__icons">
						<a href="#"><i class="fas fa-info"></i></a>
						<a href="#"><i class="fas fa-heart"></i></a>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovarlookbook/6.png" alt="item">
					<div class="sizer">	
						<p>REF</p>
						<span>W3</span>
					</div>
					<div class="small__icons">
						<a href="#"><i class="fas fa-info"></i></a>
						<a href="#"><i class="fas fa-heart"></i></a>
					</div>
				</div>
				<div class="big-item">
					<img src="static/img/assets/maintovarlookbook/big1.png" alt="img">
					<div class="textforitem">
						<h2><span>WIN</span>A NEW LOOK!</h2>
						<h3>add looks or items to your lookbook for a chance of winning </h3>
						<p>See an item or a complete look you like, click the <i class="far fa-heart"></i> button to add it to your 
						lookbook and you’ll be automatically entered to our monthly draw where one winner gets a <span class="big-text__price">£300</span> gift voucher to spend on our website!  </p>
						<p>Terms: No purchase necessary. Vouchers are non-transferable and no 
						cash alternative is ofered. Competition is for members only.</p>
						<a href="#">VIEW NOW</a>
					</div>
					<div class="big-text">
						<span>WIN</span>
						<p>A NEW LOOK</p>
					</div>
				</div>
				<div class="small-item">
					<img src="static/img/assets/maintovarlookbook/7.png" alt="item">
					<div class="sizer">	
						<p>REF</p>
						<span>W3</span>
					</div>
					<div class="small__icons">
						<a href="#"><i class="fas fa-info"></i></a>
						<a href="#"><i class="fas fa-heart"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>