<div class="registerblock">
	<div class="registerblock__wrapper">
		<div>
			<form action="">
				<h2>SIGN IN</h2>
				<input class="reg-input error-input" type="text" placeholder="Your Email..">
				<input class="reg-input" type="password" placeholder="Your password..">
				<div class="sig-submit">
					<input class="reg-btn" type="submit" value="sign in">
					<a href="#">Forgot your Password <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</form>
		</div>
		<div>
			<form action="">
				<h2>REGISTER</h2>
				<input class="reg-input" type="text" placeholder="Your Email..">
				<input class="reg-input" type="password" placeholder="Your password..">
				<input class="reg-input" type="password" placeholder="Confirm password..">
				<div class="register-check">
					<input class="reg-check" type="checkbox" id="chec">
					<label for="chec">Sign up for exclusive updates, discounts, new arrivals, contests, and more!</label>
				</div>
				<div class="reg-submit">
					<input class="reg-btn" type="submit" value="create account">
					<span>By clicking ‘Create Account’, you 
					agree to our <a href="#">Privacy Policy <i class="fas fa-long-arrow-alt-right"></i></a></span>
				</div>
			</form>
		</div>
	</div>
</div>